.cache/
.mixin.out/
backups/
crash-reports/
datapacks/
debug/
defaultconfigs/
downloads/
dynamic-data-pack-cache/
dynamic-resource-pack-cache/
emotes/
fancymenu_data/
ldlib2/
little_big_redstone/
local/
logs/
misc/
moddata/
mods/
moonlight-global-datapacks/
patchouli_books/
profileImage/
saves/
schematics/
screenshots/
shaderpacks/
xaero/
XaeroWaypoints_BACKUP240807/

.curseclient
cherishedworlds-favorites.dat
command_history.txt
emi.json
keybind_bundles.json
malum_extra.json
minecraftinstance.json
options.txt
patchouli_data.json
steam_dynamo.json
steam_macerator.json
Techpack-Release.ico
TrashSlotSaveState.json
user-prefs.json
usercache.json
usernamecache.json

*.log